:root {
  --main-color: #0b032d;
}

h1 {
  font-size: 90px;
  font-family: "Pacifico", cursive;
  margin: 0 auto;
}
h2 {
  font-size: 45px;
  margin: 20px auto;
}
h3 {
  font-size: 30px;
  margin: 10px auto;
}
h3,
h2,
header {
  font-family: "Teko", sans-serif;
}
img {
  width: 380px;
}

header,
.navbar-brand {
  font-size: 30px;
}
footer,
.hero,
.main-info {
  text-align: center;
  color: var(--main-color);
}
.container-fluid,
.navbar {
  background-color: var(--main-color);
}
.hero {
  margin: 30px auto;
}
.main-info {
  margin: 0 auto;
  max-width: 800px;
}
.skill-sign {
  font-size: 50px;
  color: var(--main-color);
  margin: 0;
  padding: 10px;
}
.skills {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
.footer-navbar {
  padding: 0px;
}
.footer-signs {
  color: white;
  padding: 0 160px;
}
.container-fluid {
  font-size: 30px;
}
